/* Base styles */
* {
    font-family: "Titillium Web", serif;
 }
 
 body {
    background-color:#D8EAFA;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
 }
 
 main {
    flex: 1;
 }
 
 @media (max-width: 967px) {
    html {
        font-size: 80%;
        /* Adjust the base font size for smaller screens */
    }
 }
 
 @media (max-width: 768px) {
    html {
        font-size: 60%;
        /* Adjust the base font size for smaller screens */
    }
 }
 
 /* Header */
 header {
    position: relative;
    z-index: 1;
    height: 3rem;
 }
 
 .nav {
    background-color: #D8EAFA;
    color: midnightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    position: fixed;
    width: 100%;
    height: 3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }
 
 .nav div:nth-child(2) {
    padding-right: 1rem;
    font-weight: bolder;
 }
 
 .nav div:nth-child(2) a:nth-child(-n+3) {
    color: midnightblue;
    text-decoration: none;
    padding: 0 1rem;
 }
 
 .nav div:nth-child(1) img {
    padding: 0 .5rem;
 }
 
 .projects-nav {
    align-self: center;
    margin: 0 .5rem;
    padding: .5rem 2rem;
    background-color: #fff;
    color: #fff;
    border: none;
    border-radius: 1.5rem;
    font-size: 1rem;
    text-decoration: none;
 }
 
 @media (min-width: 801px) {
    .mobile-nav {
        display: none;
    }
 }
 
 @media (max-width: 800px) {
    .full-nav {
        display: none;
    }
 
    .mobile-nav {
        padding: 0;
    }
 
    .fa-bars {
        padding: .5rem;
    }
 }
 
 /* Overlay */
 #overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
 }
 
 .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
 }
 
 .overlay-text a {
    display: block;
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 3rem;
    padding: .5rem 2rem;
 }
 
 .fa-times {
    font-size: 4rem;
    color: #fff;
    padding: 1rem;
 }
 
 .fa-times:hover {
    animation: rotateAnimation 200ms ease-in-out;
 }
 
 /* Animation */
 @keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
 
    100% {
        transform: rotate(90deg);
    }
 }
 
 /* Home style image */
 .home {
    position: relative;
    color: #fff;
 }
 
 .homeImage {
    height: auto;
    width: 100%;
    display: block;
 }
 
 /* Blue spacer */
 .blue-spacer {
    width: 100%;
    height: 2rem;
    background-color: midnightblue;
 }
 
 .welcome, .about-me {
    padding: 2rem;
    text-align: left;
    background: rgba(255, 255, 255, 0.8);
    margin: 2rem auto;
    border-radius: 15px;
    max-width: 800px;
 }
 
 .welcome p, .about-me p {
    line-height: 1.6;
    margin: 1.5rem 0;
 }
 
 .welcome h2,.about-me h2 {
    color: midnightblue;
    margin-bottom: 1rem;
 }
 
 /* Footer */
 footer {
    background-color: #D8EAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    color: midnightblue;
    width: 100%;
    border-top-style: double;
    border-color: midnightblue;
    border-width: 5px;
    text-decoration: none;
 }
 
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; /* Adds space between the icons */
    font-size: 2rem;
}

.icons a {
    color: midnightblue;
    transition: color 0.3s ease;
}

.icons a:hover {
    color: rgb(29, 78, 133);
}
 
 .contact {
    text-align: center;
    vertical-align: bottom;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    padding: 1.5rem;
    align-items: center;
    color: midnightblue;
    font-size: 1rem;
}

.fa-xmark {
    font-size: 4rem;
    color: #fff;
    padding: 1rem;
    /* transition: all 200ms ease-in-out; */
}

.fa-xmark:hover {
    animation: rotateAnimation 200ms ease-in-out;
}

/* animation */
@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

/* About Section */
.about {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2rem;
   margin: 3rem auto;
   max-width: 800px;
   background: rgba(255, 255, 255, 0.8);
   border-radius: 15px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   text-align: left;
}

.about img {
   border-radius: 0.5rem;
   max-width: 100%;
   height: auto;
}

.about p {
   line-height: 1.6;
   margin: 1.5rem 0;
}

.about h2 {
   color: midnightblue;
   margin-bottom: 1rem;
}

/* project sections */
.projects {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: left;

}

.description{
   padding: 2rem;
   background: rgba(255, 255, 255, 0.8);
   margin: 3rem auto;
   border-radius: 15px;
   max-width: 800px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.one{
   padding: 2rem;
   background: rgba(255, 255, 255, 0.8);
   margin: 3rem auto;
   margin-top: 0%;
   border-radius: 15px;
   max-width: 800px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description p {
   line-height: 1.6;
}

.description h2 {
   color: midnightblue;
   margin-bottom: 1rem;
}

.one img {
   border-radius: 0.5rem;
   max-width: 100%;
   height: auto;
}

.one p {
   line-height: 1.6;
   margin: 1.5rem 0;
}

.one h2 {
   color: midnightblue;
   margin-bottom: 1rem;
}



